* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  display: flex;
  height: 90vh;
  width: 80vw;
}

.navbar {
  display: flex;
  height: 10vh;
  background-color: black;
}

#sidebar {
  display: flex;
  justify-content: flex-end;
  width: 20vw;
  color: black;

}
